<h4 class="text-center">Login</h4>

<form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="form-group">
    <input
      class="form-control"
      type="text"
      placholder="Nome do usuario"
      name="user"
      required
      [(ngModel)]="user"
      #userInput="ngModel"
    />

    <app-message
      *ngIf="userInput.invalid && userPassword.touched"
      message="Usuario obrigatorio"
    ></app-message>
  </div>

  <div class="form-group">
    <input
      class="form-control"
      type="password"
      placeholde="Insira sua senha"
      name="password"
      required
      [(ngModel)]="password"
      #userPassword="ngModel"
    />

    <app-message
      *ngIf="userPassword.invalid && userPassword.touched"
      message="Senha obrigatoria"
    ></app-message>
  </div>

  <button
    [disabled]="loginForm.invalid"
    class="btn btn-primary btn-block"
    type="submit"
  >
    Login
  </button>
</form>
